.cartItems {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
  text-align: left;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid darkgoldenrod;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: darkcyan;
  border-color: darkcyan;
  color: white;
}

.actions .buttonAlt {
  color: darkcyan;
}

.actions .button {
  background-color: darkcyan;
  color: white;
}

.actions .button_close {
  background-color: darkcyan;
  color: white;
}

.actions .button_close:hover {
  background-color: darkgoldenrod;
  color: white;
}

.color {
  color: darkcyan;
  font-weight: 800;
  font-style: italic;
}
