.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: darkcyan;
  border: 2px solid darkcyan;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}
